[submodule "matrix/script.epg_fuzzy_match"]
	path = matrix/script.epg_fuzzy_match
	url = https://github.com/kcook98765/script.epg_fuzzy_match
[submodule "matrix/script.LibreTranslate"]
	path = matrix/script.LibreTranslate
	url = https://github.com/kcook98765/script.LibreTranslate
[submodule "matrix/plugin.program.shortlist"]
	path = matrix/plugin.program.shortlist
	url = https://github.com/kcook98765/plugin.program.shortlist
[submodule "script.DevView"]
	path = script.DevView
	url = https://github.com/kcook98765/script.DevView
[submodule "matrix/script.DevView"]
	path = matrix/script.DevView
	url = https://github.com/kcook98765/script.DevView
[submodule "script.mediachat"]
	path = script.mediachat
	url = https://github.com/kcook98765/script.mediachat
